@import './components/PlatformBar/PlatformBar.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#results-container,
#search-container {
  margin-left: 25%;
  width: 100%;
  padding: 2rem;
  background-color: rgb(34, 168, 119);
}

#results {
  display: grid;
  justify-content: space-evenly;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 4fr));
}

.game-card {
  display: flex;
  /* gap: 0.5rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 4px 4px 5px #282c34;
}

.card-title {
  background-color: #282c34;
  color: #61dafb;
  padding: 1rem 0;
  font-size: 75%;
  width: inherit;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1em;
  max-height: 2em;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-image-missing {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #4c4d4f;
  color: #898c8c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  width: 100%;
}

.add-to-btn {
  width: 100%;
  border: none;
  padding: 0.5rem;
}

.add-to-btn#collection {
  background-color: #8261fb;
}

.add-to-btn#wishlist {
  background-color: orange;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  width: 75vw;
  gap: 1rem;
  padding: 4rem;
  background-color: rgb(49, 207, 176);
}

.game-header {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  width: 100%;
}

.game-title {
  display: flex;
  flex-wrap: wrap;
  color: #61dafb;
  background-color: rgb(35, 145, 123);
  justify-content: center;
  align-content: center;
  padding: 1rem 0;
  font-size: 7rem;
  text-overflow: ellipsis;
  height: 200px;
}

.game-image {
  width: 300px;
  height: 200px;
}

.game-platforms {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  background-color: #282c34;
  color: #61dafb;
}

.game-platform {
  display: grid;
  flex-direction: row;

  grid-template-columns: 60% 40%;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.game-platform > h1 {
  font-size: 1.5rem;
  text-align: left;
}
