.App {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#platform-bar {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  color: white;
}
.platform {
  width: 100%;
  padding: 0.2rem;
  background-color: #282c34;
  color: #61dafb;
  text-align: left;
  text-decoration: none;
}

.platform:hover {
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
}
